@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  position: relative;
  
   top:0px;
   bottom:0px;
   left:0px;
   right:0px;
  
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);

}

